* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "fira-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

#head {
    background-color: #ccdaf3;
}

.hero_section {
    width: 100vw;
    height: 100vh;
    color: #000000;
    display: flex;
    flex-direction: column;
}

header {
    width: 80%;
    height: auto;
    margin: auto;
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    z-index: 1;
    flex-wrap: nowrap;
}

.brand {
    margin-right: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
}

nav ul li{
    display: inline;
    margin-left: 50px;
    font-size: 18px ;
}

nav ul li a{
    text-decoration: none;
    color: #000000;
}

@media screen and (max-width: 1000px) {
    nav ul {
        display: none;
    }
}

.hero_container {
    position: relative;
    z-index: 1;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.hero_text {
    flex-basis: 45%;
    margin-top: 4rem;
}

.hero_image {
    flex-basis: 50%;
    margin-top: 4rem;

}

.hero_image img {
    width: 100%;
    height: 100%;
    justify-self: flex-start;
    object-fit: cover;
    border: none;
    border-radius: 30px;
}

h1 {
    font-family: "fira-sans", sans-serif;
    font-size: 54px;
    font-weight: 700;
    font-style: normal;
}

h2 {
    margin-bottom: 20px;
    color: white;
    font-size: 30px;
}

.hero_string {
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.hero_btn, .hero_btn2 {
    border-radius: 10px;
    font-size: 18px;
    padding: 20px 30px;
    font-style: bold;
    cursor: pointer;
    transition: all.5 ease;
    border: none;
}

.hero_btn { 
    background: #4061b3;
    color: white;
    margin-right: 30px;
    margin-bottom: 20px;
    border: 4px solid #4061b3;
    transition: background 0.3s ease, transform 0.3s ease, color 0.2s ease;
}

.hero_btn:hover {
    background: transparent;
    color: #4061b3;
    transform: scale(1.02);
}

.hero_btn2 { 
    background: transparent;
    border: 4px solid #ff5a21;
    color: #ff5a21;
    transition: background 0.3s ease, transform 0.3s ease, color 0.2s ease;

}

.hero_btn2:hover {
    background: #ff5a21;
    color: white;
    transform: scale(1.02);
}



/*Volunteer Page*/

.vol_container {
    width: 100%;
    height: auto;
}

.vol_hero_container {
    position: relative;
    z-index: 1;
    width: 80%;
    margin: 0 auto;
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1300px) {
    
    .vol_hero_container {
        justify-content: center;
        flex-direction: column
    }

    .vol_hero_container button {
        margin-top: 40px;
    }

    .vol_hero_container h1 {
        text-align: center;
    }

}

.vol_hero_container h1 {
    font-size: 80px;
    font-weight: 600;
}

.vol_hero_container button {
    border-radius: 20px;
    font-size: 32px;
    font-weight: 400;
    padding: 20px 30px;
    cursor: pointer; 
    background: #ff5a21;
    color: white;
    border: 4px solid #ff5a21;
    transition: background 0.3s ease, transform 0.3s ease, color 0.2s ease;
}

.vol_hero_container button:hover {
    background: transparent;
    color: #ff5a21;
    transform: scale(1.02);
}

.vol_picks_container {
    width: 100%;
    height: 100vh;
    background-color: #4061b3;
    display: flex;
}

.vol_picks_items {
    position: relative;
    width: 80%;
    margin: 80px auto;
}

.vol_picks_items h1 {
    color: white;
}

.vol_picks_items h2 {
    color: black;
}

.vol_picks_pods {
    margin-top: 50px;
    height: auto;
    max-height: 80%;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.vol_picks_pod {
    width: 30%;
    background-color: white;
    color: black;
    padding: 30px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
}

.vol_picks_pod h2 {
    font-size: 30px;
}

.vol_picks_pod p {
    margin-bottom: 2rem;
    font-size: 20px;
}

.vol_picks_pod img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    align-self: flex-end;
    border-radius: 30px;
    margin-top: auto;
}

.pod_details {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}

.pod_details img {
    object-fit: contain;
    height: 40px;
    width: 40px;
    border-radius: 0;
    padding: 5px;
    cursor: pointer;
}