* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "fira-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

.hero_section {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    color: #000000;
}

header {
    width: 80%;
    height: auto;
    margin: auto;
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    z-index: 1;
}

.brand {
    margin-right: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
}

nav ul li{
    display: inline;
    margin-right: 50px;
    font-size: 18px;
}

nav ul li a{
    text-decoration: none;
    color: #000000;
}

.nav_btn {
    font-size: 18px;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 15px;
    background-color: #4061b3;
    color: white;
    cursor: pointer;
}

#signup_btn {
    background-color: #ff5a21;
}

.hero_container {
    position: relative;
    z-index: 1;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.hero_text {
    flex-basis: 45%;
    margin-top: 4rem;
}

.hero_image {
    flex-basis: 50%;
    margin-top: 4rem;

}

.hero_image img {
    width: 100%;
    height: 100%;
    justify-self: flex-start;
    object-fit: cover;
    border: none;
    border-radius: 30px;
}

h1 {
    font-family: "fira-sans", sans-serif;
    font-size: 54px;
    font-weight: 700;
    font-style: normal;
}

h2 {
    margin-bottom: 20px;
    color: white;
    font-size: 30px;
}

.hero_string {
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.hero_btn, .hero_btn2 {
    border-radius: 10px;
    font-size: 18px;
    padding: 20px 30px;
    font-style: bold;
    cursor: pointer;
    transition: all.5 ease;
    border: none;
}

.hero_btn { 
    background: #4061b3;
    color: white;
    margin-right: 30px;
    margin-bottom: 20px;
    border: 4px solid #4061b3;
    transition: background 0.3s ease, transform 0.3s ease, color 0.2s ease;
}

.hero_btn:hover {
    background: transparent;
    color: #4061b3;
    transform: scale(1.02);
}

.hero_btn2 { 
    background: transparent;
    border: 4px solid #ff5a21;
    color: #ff5a21;
    transition: background 0.3s ease, transform 0.3s ease, color 0.2s ease;

}

.hero_btn2:hover {
    background: #ff5a21;
    color: white;
    transform: scale(1.02);
}



/*Volunteer Page*/

.vol_hero_container {
    position: relative;
    z-index: 1;
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.vol_hero_container h1 {
    font-size: 80px;
    font-weight: 600;
}

.vol_hero_container button {
    border-radius: 20px;
    font-size: 32px;
    font-weight: 400;
    padding: 20px 30px;
    cursor: pointer; 
    background: #ff5a21;
    color: white;
    border: 4px solid #ff5a21;
    transition: background 0.3s ease, transform 0.3s ease, color 0.2s ease;
}

.vol_hero_container button:hover {
    background: transparent;
    color: #ff5a21;
    transform: scale(1.02);
}